@page
@model BouvetØlsmaking.Pages.Breweries.IndexModel

@{
    ViewData["Title"] = "Index";
}
@if (TempData["CustomError"] != null)
{
    <div class="alert alert-danger">
        @TempData["CustomError"]
    </div>

    return;
}
<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brewery[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brewery[0].Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brewery[0].Website)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Brewery)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Website)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.BreweryId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.BreweryId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.BreweryId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
