@page
@model BouvetØlsmaking.Pages.Beers.IndexModel

@{
    ViewData["Title"] = "Index";
}
@if (TempData["CustomError"] != null)
{
    <div class="alert alert-danger">
        @TempData["CustomError"]
    </div>

    return;
}
<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Beer[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beer[0].ABV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beer[0].BeerStyleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beer[0].RateBeerLink)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Beer)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ABV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeerStyleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RateBeerLink)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.BeerId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.BeerId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.BeerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
