@page
@model BouvetØlsmaking.Pages.Tastings.TastingBeersAddModel
@{
    ViewData["Title"] = "TastingBeersAdd";
}

@if (TempData["CustomError"] != null)
{
    <div class="alert alert-danger">
        @TempData["CustomError"]
    </div>

    return;
}

<h2>Add beers to @Model.SelectedTasting.Name</h2>

<h3>Available beers</h3>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                @*<th>Selected</th>*@
                <th>
                    Beer
                </th>
                <th>
                    ABV %
                </th>
                <th>
                    Brewery
                </th>
                <th>
                    Style
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var selectableBeer in Model.SelectableBeers)
            {
                <tr>
                    @*<td>
                            <input asp-for="@selectableBeer.IsSelected" class="form-control" />
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => selectableBeer.Value1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => selectableBeer.Value2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => selectableBeer.Value3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => selectableBeer.Value4)
                    </td>
                    <td>
                        <div class="row">

                            <div class="col-xs-1">
                                <form asp-page-handler="AddBeer" asp-route-id="@selectableBeer.Id" asp-route-tastingId="@Model.SelectedTasting.TastingId" method="post">
                                    <button type="submit" class="btn btn-sm btn-success d-none d-md-inline-block">
                                        <i class="far fa-plus-square"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-xs-1">
        <a class="btn btn-info btn-sm d-md-inline-block" role="button" asp-page="./TastingBeers" asp-route-id="@Model.SelectedTasting.TastingId">Back</a>
    </div>
</div>